<style>
  .rounded-button {
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: [your preferred color];
    color: [your preferred text color];
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
</style>

<a href="[https://www.youtube.com/]">
  <button class="rounded-button">Visit My Social Media</button>
</a>


https://www.youtube.com/
